{% sw_extends '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' %}

{% block component_filter_property_select_preview_list_item %}
    {% sw_include '@GallyPlugin/storefront/component/listing/filter/gally-filter-select-item.html.twig' %}
{% endblock %}

{% block component_filter_multi_select_list %}
    {{ parent() }}
    {% if hasMore == true %}
        <a class="viewMoreLink" data-filter-code="">{{ 'gally.filter.viewMore' | trans }}</a>
    {% endif %}
{% endblock %}
