parameters:
    level: 5
    excludePaths:
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        -
            message: '#Class [a-zA-Z0-9\\_]+ extends @final class [a-zA-Z0-9\\_]+\.#'
            path: src/Search/Aggregation/AggregationOption.php
